* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style  */
.btn {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

/* Main Style  */
body {
    background-color: aqua;
}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    /* border: 1px solid red; */
    width: 71%;
    max-width: 1140px;
}
.logo h2 {
    font-size: 45px;
    font-weight: 900px;
}
.color-orange {
    color: #FD6E0A;
}

.menu {
    align-items: center;
    list-style-type: none;
    display: flex;
    gap: 51px;
    font-size: 20px;
}
.menu a {
    text-decoration: none;
    color: #474747;
}

#banner {
    margin: 46px 38px 0px 230px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img {
    max-width: 584px;
    vertical-align: middle;
}