* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Style  */
.btn {
  background-color: #fd6e0a;
  color: white;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.section-heading {
  text-align: center;
  max-width: 827px;
  margin: 0px auto;
}
.section-heading h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.section-heading p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
#about,
#skills,
#resume {
  padding-top: 130px;
}

/* Main Style  */
body {
  background-color: #ffffff;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: 23px 38px, bottom right;
  padding-top: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  width: 71%;
  max-width: 1140px;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900px;
}
.color-orange {
  color: #fd6e0a;
}

.menu {
  align-items: center;
  list-style-type: none;
  display: flex;
  gap: 51px;
  font-size: 20px;
}
.menu a {
  text-decoration: none;
  color: #474747;
}

#banner {
  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banner-content {
  max-width: 585px;
}

#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600px;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-image img {
  vertical-align: middle;
  max-width: 584px;
}

#about .section-container {
  max-width: 1140px;
  width: 71%;
  margin: 0px auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 157px;
}

#about .section-container .about-info {
  display: flex;
  justify-content: space-around;
}
.info-card {
  line-height: 30px;
  font-size: 20px;
}
.info-card p {
  color: #757575;
}
.info-card h4 {
  font-weight: bold;
}

.skill-cards {
  display: flex;
  justify-content: center;
  gap: 24px;
  max-width: 1140px;
  margin: 0px auto;
}
.skill-cards .cards-info {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 6px 50px 0 #00000017;
  max-width: 267px;
}
.cards-info h2 {
  font-size: 20px;
  color: #181818;
  margin: 30px 0 20px;
}
.cards-info p {
  line-height: 28px;
  color: #757575;
  font-size: 16px;
}
#resume .resume-container {
  display: flex;
  gap: 71px;
  margin: 113px auto 50px;
  width: 71%;
  max-width: 1140px;
}
.section-title {
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}
.resume-card {
  max-width: 511px;
  margin-right: 47px;
}
.card-title {
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.card-info {
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}
.card-text {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}
.resume-container hr {
  color: #d91313;
  margin: 30px 0px;
}
.download-btn {
  text-align: center;
  margin-bottom: 113px;
}
footer {
  padding: 128px 0px;
  background-color: #fff8f3;
}
.footer-container {
  width: 71%;
  max-width: 1140px;
  display: flex;
  gap: 117px;
  margin: 0px auto;
}

.footer-container .social {
  max-width: 562px;
}
.footer-container .social h1 {
  font-size: 35px;
  color: #181818;
  margin-bottom: 20px;
}

.social p {
  line-height: 28px;
  color: #474747;
  margin-bottom: 32px;
}
.social-img a {
  margin-right: 24px;
}
.message {
  max-width: 461px;
}
.message h1 {
  font-size: 35px;
  color: #181818;
  margin-bottom: 30px;
}
.message form input[type="text"],
.message form textarea {
  padding: 18px 30px;
  width: 461px;
  border: none;
  margin-bottom: 24px;
  border-radius: 5px;
  color: #757575;
}

.hide {
  display: none !important;
}

@media screen and (max-width: 576px) {
  header {
    background: url(../images/header_bg.png), #fff8f3;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-top: 50px;
    width: 100%;
  }
  nav {
    gap: 20px;
    align-items: center;
  }
  .menu {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo h2 {
    font-size: 45px;
    font-weight: 900px;
    margin-bottom: 20px;
  }
  nav, #about .section-container .about-info, .skill-cards, .footer-container {
    flex-direction: column;
  }

  #banner {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  #banner .banner-content {
    text-align: center;
  }
  #banner .banner-content h2 {
    font-size: 30px;
}

#banner .banner-content h1 {
    font-size: 45px;
}

.btn {
    background-color: #fd6e0a;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

#banner .banner-image img {
    vertical-align: middle;
    max-width: 100%;
}

#about .section-container {
    max-width: 1140px;
    width: 90%;
    margin: 0px auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 10px;
    /* padding: 131px 157px; */
}
.info-card {
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 10px;
}
#about, #skills, #resume {
    padding-top: 10px;
}

.section-heading {
    
    padding: 10px;
}

.skill-cards .cards-info {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 #00000017;
    max-width: 100%;
    text-align: center;
}

#resume .resume-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

.resume-card {
    max-width: 100%;
    margin-right: 0px;
}

.footer-container .social {
    max-width: 100%;
    text-align: center;
}

.message h1 {
    text-align: center;
}


.message form input[type="text"], .message form textarea {
    width: 100%;
}










}
