* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

body {
    background-color: aqua;
}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* border: 1px solid red; */
    width: 71%;
    max-width: 1140px;
}
.logo {
    font-size: 45px;
    font-weight: bolder;
}
.logo-color{
    color: #FD6E0A;
}
nav ul {
    align-items: center;
    list-style-type: none;
    display: flex;
    gap: 51px;
    font-size: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #474747;
}